[submodule "K-Means/stb_image"]
	path = K-Means/stb_image
	url = https://github.com/nothings/stb.git
[submodule "Project/stb_image"]
	path = Project/stb_image
	url = https://github.com/nothings/stb.git
